.chat-side
  .side-header
    %p.side-header__name
      nori
      %ul.side-header__name__lists
        %li.side-header__name__lists_list
          = fa_icon 'cog', class: 'icon'
        %li.side-header__name__lists_list
          = fa_icon 'pencil-square-o', class: 'icon1'

    .groups
      .group
        %p.group__group-name sample
        %p.group__latest-message まだメッセージがありません